nav {
        text-align: center;
        font-size: 20px;
        position: relative;
}

.container-fluid {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        /* flex: left; */
        font-size: 20px;
}

/* Estilo para a marca da barra de navegação */
.navbar-brand {
        display: flex;
        align-items: center; /* Centralizar verticalmente */
        justify-content: center; /* Centralizar horizontalmente */
        font-size: 1.1em;
}

.dropdown-menu li {
        font-size: 18px;
}

.form-group.shiny-input-container {
        fonte-size: 28px;
}

.tab-pane a {
        font-size: 28px;
}

.btn.btn-default.shiny-download-link.shiny-bound-output {
        background: #77b379;
        font-size: 28px;
}

.btn.btn-default.btn-file {
        background: orange;
        font-size: 18px;
}

.btn.btn-default.action-button.shiny-bound-input {
        background: rgb(6, 128, 61);
        font-size: 20px;
        color: white;
}

img {
        width: 1280;
        height: 720;
}

#fileStatusInventario {
        margin-top: 25px;
}

#fileStatusAem, #uploadAem-label, #uploadInventario-label, #fileStatusInventario {
        font-size: 19px;
}


/* Media query para telas menores, como dispositivos móveis, tablets e outras telas menores */
@media (max-width: 1024px) {
        nav {
                flex-direction: column;
        }
        .navbar-brand {
            text-align: center; /* Centralizar o texto para telas menores */
            font-size: 0.8em;
        }
}