/*Telas pequenas*/
@media only screen and (max-width: 600px) {}
    
/*Telas Médias*/
@media only screen and (min-width: 601px) and (max-width: 1200px) {}    

.navbar {
        font-size: 20px;
}

.navbar {
        font-size: 20px;
}

.dropdown-menu li {
        font-size: 18px;
}

.form-group.shiny-input-container {
        fonte-size: 28px;
}

.tab-pane a {
        font-size: 28px;
}

.btn.btn-default.shiny-download-link.shiny-bound-output {
        background: orange;
        font-size: 28px;
}

.btn.btn-default.btn-file {
        background: orange;
        font-size: 18px;
}

.btn.btn-default.action-button.shiny-bound-input {
        background: rgb(6, 128, 61);
        font-size: 20px;
        color: white;
}
